* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.panel {
    display: none;
}

.panel.activo {
    display: block;
}

body {
    background-image: url(https://images.trvl-media.com/lodging/10000000/9990000/9987700/9987649/37975eb4.jpg?impolicy=resizecrop&rw=575&rh=575&ra=fill);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* CONTENEDOR */
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 400px;
    max-width: 95%;
    padding: 40px 48px;

    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    background: linear-gradient(150deg,
        rgb(13, 29, 92),
        rgb(90, 25, 128)
    );
}

/* TITULOS */
.contenedor h1,
.contenedor h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

/* LABELS */
.contenedor label {
    width: 100%;
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ffffff;
}

/* INPUTS (CORREGIDO AQUI) */
.contenedor input[type="text"],
.contenedor input[type="password"],
.contenedor input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
}

/* BOTON */
.contenedor input[type="submit"] {
    width: 100%;
    background-color: #b116b1;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.contenedor input[type="submit"]:hover {
    background-color: #28ada8;
}

/* LINKS */
.contenedor a {
    color: #ffffff;
    text-decoration: none;
    margin-top: 15px;
}

.contenedor a:hover {
    text-decoration: underline;
}

/* IMAGEN CENTRADA */
.contenedor img {
    margin-bottom: 20px;
}


.contenedor #logo {
    display: block;
    margin: 0 auto 20px auto;
}